* {
    box-sizing: border-box;
}

body {
    /* justifyとalignを有効にするため */
    display: flex;
    /* 横幅を真ん中にする */
    justify-content: center;
    /* 縦幅を真ん中にする */
    align-items: center;
    min-height: 100vh;
    background-image: url(backimg.webp);
    /* background: #091921; */
    background-position: center;
    background-size: cover;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(clock.png);
    background-size: cover;
    border: 5px solid #091921;
    /* 周りの枠線を円にする */
    border-radius: 50%;
    box-shadow: 0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
}

.clock:before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min, 
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0 ;
}

.mn::before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0 ;
}

.sc::before {
    content: " ";
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0 ;
}
